
@media only screen and (max-width: 767px) {
    /* Adicione estilos específicos para dispositivos menores aqui */
    .blocos{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: auto;
    }
    .wind_text{
        font-size: 20px;
    }

    button{
        width:70%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
       
    }
    button:hover {
        color: white;
        box-shadow: inset 0 -100px 0 0 #725AC1;
      }
      
      button:active {
        transform: scale(0.9);
      }
    .con{
        font-size: 16px;
    }

    .bloco2{
        height: 16.5em;
        margin-top: 100px;
      
    }
    .tela{
        width: 90%;
        height: 15em;
        border-radius: 25px;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(94,0,255,0.5998774509803921);
    -moz-box-shadow: 5px 5px 5px 5px rgb(62, 0, 119);
    box-shadow: 5px 5px 5px 5px rgb(41, 3, 77);
    }
    .bloco3{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .images{
        display: none;
    }
    .imagesT{
        height: 10em;
        width: 90%;
    }
    .tituloinicio{
        font-size: 18px;
    }
    .partitulo{
        font-size: 15px;
    }
    .mod{
        font-size: 15px;
    }
    .titulo, .valores{
        font-size: calc(15px + 7px);
    }
    #menufinal{
        height: 10em;
    }


  }
  /* Estilos para dispositivos de largura entre 768px e 991px (como tablets em modo paisagem) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Adicione estilos específicos para tablets e dispositivos semelhantes aqui */


    .blocos{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: auto;
    }
    .wind_text{
        font-size: 20px;
    }

    button{
        width:50%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
       
    }
    button:hover {
        color: white;
        box-shadow: inset 0 -100px 0 0 #725AC1;
      }
      
      button:active {
        transform: scale(0.9);
      }
    .con{
        font-size: 20px;
    }

    .bloco2{
        height: 24.5em;
        margin-top: 100px;
      
    }
    .tela{
        width: 90%;
        height: 23em;
        border-radius: 25px;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(94,0,255,0.5998774509803921);
    -moz-box-shadow: 5px 5px 5px 5px rgb(62, 0, 119);
    box-shadow: 5px 5px 5px 5px rgb(41, 3, 77);
    }
    .bloco3{
       width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

       
 
  
    .images{
     display: none;
    }
    .imagesT{
        height: 15em;
        width: 90%;
        
    }
    .tituloinicio{
        font-size: 18px;
    }
    .partitulo{
        font-size: 15px;
    }
    .mod{
        font-size: 15px;
    }
    .titulo, .valores{
        font-size: calc(15px + 7px);
    }
    #menufinal{
        height: 10em;
    }
    .tituloinicio {
        font-size: 1.5rem;
    }
    .partitulo {
        font-size: 1rem;
    }



  }
  @media only screen and (min-width: 1025px) {
    /* Insira seus estilos para telas grandes aqui */
  
        .tituloinicio {
            font-size: 2rem; /* Tamanho do título usando rem (ou outra unidade relativa) */
            margin-bottom: 1rem; /* Adiciona margem na parte inferior do título */
        }
        .partitulo {
            font-size: 1.2rem; /* Tamanho do texto usando rem (ou outra unidade relativa) */
            line-height: 1.5; /* Altura da linha para melhor legibilidade */
        }

        button{
            width:50%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
           
        }
        button:hover {
            color: white;
            box-shadow: inset 0 -100px 0 0 #725AC1;
          }
          
          button:active {
            transform: scale(0.9);
          }
          .con{
            font-size: 20px;
        }
        .mod{
            font-size: 1.2rem; }
        
        

            .tela{
                width: 70%;
              
            }
}